/* MOBILE */

    body
    {
        margin: 0;
        min-width: 375px;
        margin: 0;
    }

    h2
    {
        font-family: 'Shrikhan', cursive;
    }

    div.entete
    {
        display: flex;
        align-items: center;
        width: 100%;
        height: 19px;
        margin-top: 26px;
        margin-bottom: -29px;
    }

    .entete img
    {
        display: flex;
    }

    .entete a 
    {
        display: flex;
        text-decoration: none;
        color: black;
        margin-left: 15px;
        position: relative;
    }

    .entete p
    {
        display: flex;
        margin-right: 266px;
        position: absolute;
        left: 44%;
    }

    .image img
    {
        display: flex;
        width: 100%;
        object-fit: cover;
        position: relative;
        top: 35px;
    }

    .menu
    {
        background-color: #F7F7F7;
        border-radius: 40px 40px 0 0;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: absolute;
        box-shadow: 2px 2px 2px #d9d9d9;
    }

    .menu h2
    {
        display: flex;
        padding-left: 15px;
    }

    .icone
    {
        display: flex;
        position: absolute;
        right: 7%;
        align-items: center;
    }

    .heart-vide
    {
        position: relative;
        width: 21.68px;
        height: 21px;
        font-size: 20px;
        transition: all 3s fowards;
    }

    .heart-plein
    {
        position: absolute;
        opacity: 0%;
        width: 21.68px;
        height: 21px;
        font-size: 20px;
        transition: all 3s fowards;
    }

    .heart-plein:hover
    {
        opacity: 100%;
        background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }

    article
    {
        margin-top: 24px;
    }

    .titre
    {
        border-bottom: 3px solid #99E2D0;
        width: 31px;
    }

    .menu-cards
    {
        padding-left: 15px;
    }

    .cards
    {
        display: flex;
        flex-direction: column;
        height: 68.07px;
        background: #FFFFFF;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        margin-bottom: 15px;
        padding-left: 15px;
        position: relative; 
        overflow: hidden;   
        margin-right: 21px; 
        animation-name: apparition;
        animation-duration: 3s;
        box-shadow: 2px 2px 2px #d9d9d9;
    }

    @keyframes apparition{
    From {
        opacity: 0;
        transform: translateY(20px);
    }
    To {
        opacity: 100%;
        transform: translateY(0px);
    }
    }

    .cards h3
    {
        margin-bottom: 0;
    }

    .cards:hover h3
    {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 10rem;
        display: block;
        overflow: hidden;
    }

    .cards p 
    {
        margin: 0;
        display: flex;
        justify-content: space-between;
        padding-right: 15px;
    }

    .cards:hover p
    {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 12rem;
        display: block;
        overflow: hidden;
    }

    .price
    {
        right:3rem;
        top:2rem;
        position:absolute;
        background-color: #FFFFFF;
        transition:.5s all;
    }

    .valide 
    {
        background-color: #99e2d0;
        cursor: pointer;
        font-size: 3rem;
        padding: 0.45rem 1rem;
        width: 0px;
        border-radius: 0 15px 15px 0;
        position: absolute;
        right:-10rem;
        transition:.5s all;
        overflow: hidden;
    }

    .cards:hover .valide
    {
        width:fit-content;
        transition:.5s all;
        right:0px;
    }

    .cards:hover .price
    {
        right:6rem;
        position:absolute;
        transition:.5s all;
    }
    
    .fa-circle-check
    {
        color: #FFFFFF;
    }

    .cards:hover .fa-circle-check
    {
        animation-delay: 5s;
        animation: rotate-center 1s ease-in-out reverse forwards
    }

    @keyframes rotate-center {
        0% {transform: rotate(0);}
        100% {transform: rotate(360deg);}
    }

    .gradientbutton
    {
        color: #FFFF;
        background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        padding: 15px;
        margin-bottom: 20px;
        padding: 1rem 4rem;
        text-align: center;
        width: min-content;
        white-space: nowrap;
        margin: 3rem auto;
        border-radius: 30px;
        box-shadow: 2px 2px 2px #d9d9d9;
    }

    .gradientbutton:hover
    {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        box-shadow: 10px 5px 5px #d9d9d9;
    }

    .Footer
    {
        background-color: #353535;
        width: 375px;
        height: 197px;
        color: #FFFFFF;
        width: 100%;
        margin-top: 1159px;
    }

    .Footer img
    {
        filter: invert(100%);
    }

    .Footer p
    {
        padding-top: 17px;
        padding-left: 23px;
    }

    .Footer ul
    {
        list-style-type: none;
        display: flex;
        gap: 15px;
        flex-direction: column;
        padding-left: 20px;
    }

    div.Footer > ul > li
    {
        display: flex;
        gap: 15px;
    }

    .Footer a
    {
        text-decoration: none;
        color: #FFFFFF;
    }

/* TABLETTE */

@media all and (min-width: 768px) and (max-width: 1023px)
{
   .Footer
   {
        display: flex;
        flex-direction: row-reverse;
        padding-left: 23px;
        padding-right: 61px;
        padding: 0;
   }
   
    .Footer ul
    {
        flex-direction: row;
        padding: 0;
        gap: 66px;
        margin-top: 94px;
    }
    
    .Footer p
    {
        margin-right: 31px;
        margin-left: 69px;
        display: flex;
        align-items: center;
    }
}

/* DESKTOP */

@media all and (min-width: 1024px)
{

    .Footer
    {
        display: flex;
        flex-direction: row-reverse;
        padding-left: 23px;
        padding-right: 61px;
        padding: 0;
    }

     .Footer ul
    {
        flex-direction: row;
        padding: 0;
        gap: 66px;
        margin-top: 94px;
    }
    
     .Footer p
    {
        margin-right: 31px;
        margin-left: 69px;
        display: flex;
    }
}